//// skeleton imports
@import 'normalize';
@import 'skeleton';
////

//// variables
$primaryred: #E12100;
$primaryteal: #88B5A8;
$primarygrey: #929292;
$primaryblue: #020951;

/// pseudoglobals

*{
	position: relative;
	veritcal-align: middle;
	-webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}

.character-gallery{
		-webkit-transition: all 0.5s ease;
	  -moz-transition:    all 0.5s ease;
	  -ms-transition:     all 0.5s ease;
	  -o-transition:      all 0.5s ease;
}


/// convenience classes

///mixins
@mixin default_sansserif{
	font-family: 'Rubik', sans-serif;
}
@mixin default_serif{
	font-family: 'Glegoo', serif;
}

@mixin vertical-align-me{
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

///  generics


body{
	
	@include default_serif;
	p{
		margin: 0;
	}
	button{
		color: $primaryred;
		border: none;
		padding: 0;
		border-radius: 0;
		font-size: 1.75rem;
		font-weight: 400;
		@include default_sansserif;

		 &:before{
			position: absolute;
			text-align: center;
			z-index: -1;
			content: "";
			background: lightgrey;
			top: 15px;
			left: -10px;
			height: 8px;
			width: 100%;
			padding: 0 10px;
		 }
	}
	h2{
		padding: 35px 0;
		margin: 0;
		font-size: 4rem;
		text-transform: uppercase;
		font-weight: 400;
		@include default_sansserif;
		letter-spacing: 1px;
		color: $primarygrey;
	}
	nav{
		text-align: center;
		@include default_sansserif;
		text-transform: uppercase;
		color: $primarygrey;
		min-height: 5vh;
		&.container{
			border-bottom: 3px $primarygrey solid;
		}
		ul{
			margin: 0;
			padding: 10px;
		}
		li{
			display: inline-block;
			width: 19.5%;
			margin: 0;
			letter-spacing: 1px;
			a{
				text-decoration: none;
				color: inherit;	
				&:hover{
					color: $primaryred;
				}
			}
			
			
		}
	}
	.gridder{
		width:100%;
		background: url('../images/graphy/graphy.png');
		// background: none;
	}
}



//// document formal
.logo-holder{
	img{
		width: 65%;
		height: auto;
	}
}
///// hero section
#hero{
	min-height:95vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.hero-slogan{
		height: 100%;
		@include default_sansserif;
		margin: 0 0 15px 0;
		text-transform: uppercase;
		font-size: 5rem;
		p{
			margin: -20px 0;
		}

	}
	.subtitle{
		font-size: 2rem;
		font-weight: 300;
	}
	button{
		margin: 5% 0 0 0;
	}
	.redacted{
		color: $primarygrey;
		&:after{
			position: absolute;
			content: "";
			width: 100%;
			height: 27px;
			background: black;
			top: 16px;
			left: 0;
		}
	}
}
.cityscape{
	background: url('../images/city-dark.jpeg') no-repeat center;
	background-size: cover;
}
#game-blurb{
	// min-height: 50vh;
	padding: 25px;
	color: white;
	p{
		padding: 10px;
		// background: rgba(255,255,255,.6);
		background: rgba(0,0,0,.6);
		font-weight: lighter;
		&.offset-by-three{
			text-align: center;
		}
		&.four{
			background: $primaryred;
			color: white;
			text-align: center;
		}
	}
	.row{
		margin: 0 0 25px 0;
		&:last-child{
			margin: 0;
		}
		
	}
}

#char-classes{
	.character-gallery{
		width: 100%;
		z-index: 1;
	}
	.image-mask{
		z-index: 1;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

	}
	.sleuth{
		.image-mask{
			background: rgba(27,116,187,.75);
			&.open{
				background: none;
			}
		}

	}
	.pointman{
		.image-mask{
			background: rgba(102,43,144,.75);
			&.open{
				background: none;
			}
		}
	}
	.faceman{
		.image-mask{
			background: rgba(250,175,63,.75);
			&.open{
				background: none;
			}
		}
	}
	.soldier{
		.image-mask{
			background: rgba(236,29,36,.75);
			&.open{
				background: none;
			}
		}
	}
	.scout{
		.image-mask{
			background: rgba(141,198,63,.75);
			&.open{
				background: none;
			}
		}
	}

	.character{
		height: 600px;
		width: 20%;
		float: left;
		background: pink;
		li{
			list-style-type: none;
			margin: 0;
			font-size: 1.2rem;
			font-style: italic;
			@include default_sansserif;
			font-weight: 500;			
			padding: 0 0 0 10px;
		}
		p{
			font-size: 1.2rem;
			padding: 0 0 0 10px;
		}

		.summary{
			position: absolute;
			bottom: -165px;
			left: 0px;
			height: 200px;
			background: none;
			width: 100%;
			z-index: 2;
			h4{
				padding: 5px 10px;
				margin: 0;
				@include default_sansserif;
				text-transform: uppercase;
				font-size: 1.8rem;
				color: white;
				letter-spacing: 1px;
				width: 172px;
			}
			&.open{
				bottom: 0;
				background: white;
			}
		}
		&.sleuth{
			background: url('../images/classes/sleuth.png') no-repeat;
			background-size: cover;
			.open{
				h4{
					color: white;
					background: #1B74BB;	
					margin: 0 0 5px 0;
				}
			}
		}
		&.pointman{
			background: url('../images/classes/pointman.png') no-repeat;
			background-size: cover;
			.open{
				h4{
					color: white;
					background: #662B90;
					margin: 0 0 5px 0;
				}
			}				
		}
		&.faceman{
			background: url('../images/classes/faceman.png') no-repeat;
			background-size: cover;
			.open{
				h4{
					background: #FAB03F;
					color: white;	
					margin: 0 0 5px 0;
				}
			}
		}
		&.soldier{
			background: url('../images/classes/soldier.png') no-repeat;
			background-size: cover;
			.open{
				h4{
					color: white;
					background: #EC1D24;	
					margin: 0 0 5px 0;
				}
			}
		}
		&.scout{
			background: url('../images/classes/scout.png') no-repeat;
			background-size: cover;
			.open{
				h4{
					background: #8DC63F;
					color: white;	
					margin: 0 0 5px 0;
				}
			}
		}
		.char-description{
			z-index: 10;
			background: white;
		}
	}
	.character-details{
		z-index: 10;
		background: white;
		padding: 15px 0;
		p{
			margin: 0 0 10px 0;
		}
		h5{
			@include default_sansserif;
			font-size: 2.2rem;
			border-bottom: 4px solid #1B74BB;
			&.sleuth{
				border-bottom: 4px solid #1B74BB;
			}
			&.pointman{
				border-bottom: 4px solid #662B90;
			}
			&.faceman{
				border-bottom: 4px solid #FAB03F;
			}
			&.soldier{
				border-bottom: 4px solid #EC1D24;	
			}
			&.scout{
				border-bottom: 4px solid #8DC63F;
			}
		}
		.fa{
			font-size: 2rem;
			margin: 0 5px 0 0;
		}
		.skills, .features{
			//maybe display flex on these bad boys?
			margin: 0 0 15px 0;

			li{
				display: block;
				color: black;
				height: auto;
			}
		}
	}
}

#factions{
	h4{
		@include default_sansserif;
		text-transform: uppercase;
		font-size: 3rem;
		margin: 0;
	}
	.tagline{
		padding: 0 0 0 25px;
		font-style: italic;
		font-weight: 300;
	}
	.blurb{
		text-align: center;
		padding: 20px;
	}
	.faction-title{
		background: whitesmoke;
		padding: 10px;
		border: 1px dotted black;
		.fa{
			position: absolute;
			top: 30%;
			right: 20px;
			font-size: 3rem;
			color: $primaryred;
		}
	}
	.faction-details{
		display: none;
		h5{
			@include default_sansserif;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: 300;
			color: white;
			padding: 10px;
		}
		p{
			margin: 0 0 15px 0;
		}
	}
	.faction-history{
		h5{
			background: #020951;
		}

	}
	.faction-structure{
		h5{
			background: #C4E8DE;
			color: black;
		}
		p{
			margin-bottom: 15px;
		}
	}
	.expanded{
		display: block;
	}
}
